{% extends 'layout.html' %}
{% block title %}
    Service of {{service.name}}
{% endblock %}

{% block content %}
    <h1>Service of {{service.name}}</h1>
    <div class = "heading">
        <h2 class = "text-muted" style="text-align: left;">Service</h2>
        <h3 class="text-muted">
            <em style="margin-left: 0px;margin-right: 150px;">
                Showing service of {{service.name}} only.
            </em>
        </h3>

 
    </div>


<table class = "table">
    <thead>
        <tr> 
            <th>service_id</th>
            <th>customer_id</th>
            <th>professional_id</th>
            <th>date_of_request</th>
            <th>date_of_completion</th>
            <th>status</th>

        </tr>
    </thead>
    <tbody>
        {% for product in service.requests %} <!-- here requests is the variable in service class where have realtion with servicerequest-->
        <tr>
            <td>{{product.service_id}}</td>
            <td>{{product.customer_id}}</td>
            <td>{{product.professional_id}}</td>
            <td>{{product.date_of_request}}</td>
            <td>{{product.date_of_completion}}</td>
            {% if product.status == "False" %}
                <td style="color: rgb(229, 233, 37);">pending</td>
            {% elif product.status == "True" %}
                <td style="color: rgb(14, 177, 17);">Accepted</td>    
            {% else %}
                <td style="color: rgb(139, 90, 5);">{{product.status}}</td> 
            {% endif %}
            <td>{{product.remarks}}</td>

            <td>
                <a class = "btn btn-outline-primary" href="{{url_for('edit_service',id = service.id)}}">
                    <i class = "fas fa-edit fa-xs"></i>
                    Edit
                </a>

                <a class = "btn btn-outline-danger" href="{{url_for('delete_service',id = service.id)}}">
                    <i class="fas fa-trash fa-xs"></i>
                    Delete
                </a>   

            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>


{% endblock %}   



{% block style %}
<style>
    .heading{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h1,h2{
        text-align: center;
    }

</style>
{% endblock %}