{% extends 'layout.html' %}

{% block title %}
    Edit Service
{% endblock %}  

{% block content %}
    <h1>Add Service</h1>
    <form method="post" class="form">
        <label for="name" class="form-label">Service Name:
            <input type="text" name = "name" id = "name" class="form-control" required value="{{service.name}}">
        </label>


        <label for="description" class="form-label">Description:
            <input type="text" name = "description" id = "description" class="form-control" required value="{{service.description}}">
        </label>

        <label for="baseprice" class="form-label">Base Price in ₹:
            <input type="text" name = "baseprice" id = "baseprice" class="form-control" required value="{{service.base_price}}">
        </label>
        <input type="submit" value="Save" class="btn btn-success" >

    </form>
{% endblock %}    

{% block style %}
<style>
    h1{
        margin: 64px;
        text-align: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
{% endblock %}