<nav class="navbar navbar-expand-lg" style="background-color: rgb(193, 225, 246);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            CuraFix
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                
                {% if user or is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile') }}" style="margin-left: 20px;">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search') }}">
                        <i class="fas fa-search fa-xs" style="margin: 10px"></i>Search
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('summary') }}">Summary</a>
                </li>

                <!-- Professional  -->
                {% elif professional %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('professional_profile') }}" style="margin-left: 20px;">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('professional_search') }}">
                        <i class="fas fa-search fa-xs" style="margin: 10px"></i>Search
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('professional_summary') }}">Summary</a>
                </li>

                {% endif %}
            </ul>

            <!-- Logout thing -->
            {% if user or professional %}
            <ul class="navbar-nav ms-auto"> 
                <li class="nav-item">
                    <a class="btn btn-outline-danger text-center" href="{{ url_for('logout') }}">
                        <i class="fas fa-sign-out-alt fa-xs"></i> 
                        Logout
                    </a>
                </li>
            </ul>

            <!-- for login -->
            {% else %}
            <ul class="navbar-nav"> 
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('professional_register') }}">Register as Professional</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
